img {
  width: 9px;
  margin-bottom: 1px;
}

img[alt$=">"] {
  position: absolute;
  right: 0;
  width: 40px !important;
}

img[alt$="<"] {
  position: absolute;
  left: 0;
  width: 40px !important;
}

h1 {
  padding-top: 45px;
  font-size: 13px !important;
}

h2 {
  font-size: 10px !important;
}

h3 {
  font-size: 8px !important;
}

p {
  font-size: 8px !important;
}

li {
  font-size: 8px !important;
}
